body{
	overflow-x: hidden;
}

#hak__akses{
	background-color: #fff0; 
	color: white; 
	margin-top: 20px;
}
.img-menu{
	padding-right: 10px;
	padding-left: 10px;
}

.zzz{
	margin-left:-5px;
	margin-right:-5px;
	background-color: white;
	box-shadow: 0 0 5px #BDBDBD;
	padding: 15px;
}

#hor-line{
	height: 2px;
	width: 100%;
	background-color: #BDBDBD;
	/*margin-top: -10px;*/
	margin-bottom: 15px;
}

#hor-line2{
	height: 4px;
	width: 100%;
	background-color: #3a3a3a;
	margin-bottom: 10px;
	border-radius: 10px;
}

.title-content{
	color: #333;
	font-size: 25px;

}

@media print{
	input.no-print{
		display: none;
	}
}

#title-laporan{
	margin-top: 10px;
}

#title-laporan2{
	font-size: 13px;	
 	margin-bottom: -10px;
 	margin-left: 12%;
}

.title-table{
	color:#222;
	text-align: center;
	background-color: yellow;
	padding-bottom: 10px;
}

#cetak{
	width: 100px;
	padding: 7px;
	font-size: 15px;
	margin-bottom: 10px;
}
