body{
	overflow-x: hidden;
}

#hak__akses{
	background-color: #fff0; 
	color: white; 
	margin-top: 20px;
}
.img-menu{
	margin-right: 12px;
	margin-bottom: 5px;
}

.zzz{
	margin-left:-5px;
	margin-right:-5px;
	background-color: black;
	box-shadow: 0 0 5px #BDBDBD;
	padding: 15px;
}

#hor-line{
	height: 2px;
	width: 100%;
	background-color: #BDBDBD;
	/*margin-top: -10px;*/
	margin-bottom: 15px;
}

.title-content{
	color: #333;
	font-size: 25px;

}

@media print{
	input.no-print{
		display: none;
	}
}

#title-laporan{
	margin-top: 30px;
	margin-bottom: 20px;
}

.title-table{
	color:#222;
	text-align: center;
	background-color: yellow;
	padding-bottom: 10px;
}

#cetak{
	width: 100px;
	padding: 7px;
	font-size: 15px;
	margin-bottom: 20px;
}
